{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel='stylesheet' type="text/css" href="{% static 'loginStyle.css' %}">
</head>
<body>
{% include "navbar.html" %}

<form class="loginForm" method="post" action="login_request">
    
    <div class="credentials">
        <h1>-----Sign In-----</h1>

        <input type="text" placeholder="Username" class="username" name="username">
        <input type="password" placeholder="Password" class="password" name="password">
        <input type="submit" value="Submit" class="loginButton">
    </div>


    <div class="container">

{#        <button type="submit" class="loginButton" formmethod="post">Login</button>#}
    </div>
</form>


</body>
</html>