{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel='stylesheet' type="text/css" href="{% static 'loginStyle.css' %}">
</head>
<body>
        {% include "navbar.html" %}


             <div class="Credentials">
                <div>
                    <h1>-----Sign In-----</h1>
                <input type="text" placeholder="Username" class="username">
                <input type="password" placeholder="Password" class="password">
                </div>
            </div>

            <div class="Container">
                <button type="submit" class="loginButton">Login</button>
            </div>


</body>
</html>