{% load static %}


<link rel='stylesheet' type="text/css" href="{% static 'navBarStyle.css' %}">


<header>
    <nav>
        <ul class="navBarButtons">
            <li>
                <a href="#" class="home">Home</a>
            </li>
            <li>
                <a href="#" class="room">Room</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/login/" class="login">Login</a>
            </li>
        
        </ul>
    </nav>
        

    
</header>



   
 
