<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    #navBar{
    }
</style>
<body>
    <div id="navBar">
        <a href="/"><h1>Home</h1></a>

        <a href="http://127.0.0.1:8000/room/"><h1>Room</h1></a>

        <a href="http://127.0.0.1:8000/login/"><h1>Login</h1></a>    
    </div>
</body>
</html>


