{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sigh Up</title>

    <link rel='stylesheet' type="text/css" href="{% static 'signUpStyle.css' %}">
</head>
<body>
{% include "navbar.html" %}
    
    <form class="credentials" id="signUpForm">
        <h1>-----Sign Up-----</h1>
        <div class="div1">
            <input type="text" placeholder="Username" class="username" name="user_name" onfocusout="outOfFocusUsr()">
            <h5 class="usernameValidation">Username is required</h5>    
        </div>
        <div class="div2">
            <input type="email" placeholder="Email" class="email" name="email" onfocusout="outOfFocusEmail()">
            <h5 class="emailValidation">Email is required</h5>
        </div>
        <div class="div3">
            <input type="password" placeholder="Password" class="password" name="password" onfocusout="outOfFocusPass()">
            <h5 class="passwordValidation">Password is required</h5>
        </div> 
        <input type="submit" value="Submit" class="sighUpButton">
    </form>


    <script src="{% static 'JS/signup_validation.js' %}"></script>

</body>
</html>