html {
    height: 100vh;
}


body {
    background: url("Wallpaper.jpg") no-repeat center;
    background-size: 100% 100%;
}

/*.container {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    margin: auto;*/
/*    height: 100px;*/
/*    width: 250px;*/
/*    */
/*}*/
.div1, .div2 {
    position: relative;
}

.usernameValidation, .passwordValidation {
    display: none;
    color: rgba(255, 0, 0, 1);
    justify-content: center;
    position: absolute;
    bottom: 0;
    transform: translateY(125%);
    margin: 0;

}


.displayMsg {
    display: flex;
}

.credentials {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 220px;
    height: 400px;
    background: rgba(0, 0, 0, 0.1);
    padding-left: 50px;
    padding-right: 50px;
}

.loginForm {
    background-color: rgba(185, 125, 11, 0);
    width: 250px;
    height: 500px;
    margin: auto;
}


.username {
    background-color: rgba(14, 12, 3, 0.4);
    line-height: 0;
    color: white;
    width: 200px;
    height: 30px;
}

.password {
    background-color: rgba(14, 12, 3, 0.4);
    line-height: 0;
    color: white;
    width: 200px;
    height: 30px;
}

::placeholder {
    color: white;

}

.loginButton:hover {
    opacity: 1;


}

.loginButton {
    opacity: 0.3;
    font-size: 35px;
    height: 50px;
    width: 200px;
    border-radius: 12px;
    -webkit-transition: 0.3s ease-in-out;
}


