
.Container{
    display: flex;
    justify-content: center;
    margin: auto;
    height: 100px;
    width: 200px;
    border: 15px solid black;
}

.Credentials{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    align-content: center;
    border: 10px solid black;
    width: 200px;
    height: 400px;
}

.username{
    width: 200px;
    height: 30px;
}
.password{
    width: 200px;
    height: 30px;
}


.loginButton{
    height: 50px;
    width: 200px;
    border-radius: 12px;
}


