
.navBarButtons {
    list-style-type: none;
    background-color: rgba(140, 138, 138, 0.18);
    padding: 0px;
    margin: auto;
    overflow: hidden;
}

.navBarButtons a {
    color: rgb(0, 0, 0);

    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navBarButtons a:hover {
    background-color: hsla(0, 0%, 10%, 0.31);
}

.navBarButtons li {
    float: left;
}


a:hover {
    opacity: 1;
}

a {
    color: white;
    font-size: 30px;
    opacity: 0.4;
    -webkit-transition: 0.3s ease-in-out;
}